<section>
  <h1>{{specialData.title}}</h1>
  <div class="container">
    <img [src]="specialData.image" [alt]="specialData.alt" />
    <div class="container__content">
      <p>{{specialData.description}}</p>
      <ul>
        <li *ngFor="let bullet of specialData.bullets">{{bullet}}</li>
      </ul>
      <div>
        <button
          (click)="action.action()"
          *ngFor="let action of specialData.actions"
          mat-button
        >
          {{action.label}}
        </button>
      </div>
    </div>
  </div>
</section>

<pop-portfolio />
