<footer>
  <div class="surface-blue"></div>
  <div class="content">
    <div class="content__first column">
      <img
        class="content__first--image-logo"
        src="../../../../../../../assets/logo.svg"
        alt="Logo"
      />
      <p>
        Salúdanos y estaremos encantados de responderte. Amamos hablar con
        nuestros amigos. <br />
        <span>¡COMENCEMOS A TRABAJAR!</span>
      </p>
      <button class="button" (click)="contact()" mat-stroked-button>¡Contáctanos!</button>
    </div>
    <div class="content__second column same-column">
      <b>Compañía</b>
      <mat-divider [inset]="true"> </mat-divider>
      <div class="list list--first">
        <mat-list>
          <mat-list-item class="mdc-list-item__on-primary-text" [routerLink]="['/']" routerLinkActive="router-link-active"
            >Home<mat-icon>chevron_right</mat-icon>
          </mat-list-item>
          <mat-list-item class="mdc-list-item__on-primary-text"
            >Marketing Digital <mat-icon>chevron_right</mat-icon>
          </mat-list-item>
          <mat-list-item class="mdc-list-item__on-primary-text"
            >Portafolio<mat-icon>chevron_right</mat-icon>
          </mat-list-item>
          <mat-list-item (click)="contact()" class="mdc-list-item__on-primary-text"
            >Hablemos<mat-icon>chevron_right</mat-icon>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
    <div class="content__thirth column same-column">
      <b>Contáctanos</b>
      <mat-divider [inset]="true"> </mat-divider>
      <div class="list list--second">
        <mat-list>
          <mat-list-item (click)="contact()"  class="mdc-list-item__on-primary-text"
            >Celular<mat-icon>phone</mat-icon></mat-list-item
          >
          <mat-list-item (click)="mailTo()" class="mdc-list-item__on-primary-text"
            >Correo<mat-icon>mail</mat-icon></mat-list-item
          >
          <mat-list-item class="mdc-list-item__on-primary-text"
            >Ubicación<mat-icon>place</mat-icon></mat-list-item
          >
          <mat-list-item class="mdc-list-item__on-primary-text"
            >Portafolo<mat-icon>article</mat-icon></mat-list-item
          >
        </mat-list>
      </div>
    </div>
  </div>
  <mat-divider [inset]="true"> </mat-divider>
  <div class="down-info">
    <div class="down-info__info">
      <p>Copyright © 2024 En Popa</p>
      <span
        >Web creada por:
        <a href="https://wa.link/23p6q2" target="_blank">Fabián Miranda</a></span
      >
    </div>
    <div class="down-info__rrss">
      <p>SÍGUENOS EN:</p>
      <div>
        <img (click)="rrssF()"  src="../../../../../../../assets/fb.png" alt="Facebook">
        <img (click)="rrssI()"  src="../../../../../../../assets/fb.png" alt="Instagram">
      </div>
    </div>
  </div>
</footer>
