.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  & div {
    & .hamburger__image {
      padding: 24px;
      & img {
        max-width: 180px;
      }
    }
  }
}

/* Movimientos aleatorios */

@keyframes planet {
  0% {
    transform: translate(0, -70px);
  }
  50% {
    transform: translate(calc(random() * 1vw), calc(random() * -70px));;
  }
  100% {
    transform: translate(0, -70px);
  }
}


::ng-deep {
  & .mat-list-item-content {
    gap: 8px;
  }

  .mat-mdc-dialog-surface, .mdc-dialog__surface {
    border-radius: 28px !important;
  }
}
