@import '../../../../../../../src/styles.scss';

:host {
  height: 90dvh;
  width: 100%;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/enpoppa2024.appspot.com/o/background.jpg?alt=media&token=b9ec8bc7-357c-4187-9321-9072b2d796b7);
  background-repeat: no-repeat;
  background-size: cover;
  & main {
    width: 100%;
    height: 100%;
    & section {
      max-width: var(--max-width);
      @extend %fullPadding;
      padding-top: 72px * 2 !important;
      height: 100%;
      & .text  {
        @extend .on-primary-text;
        color: red;
        text-transform: uppercase;
      }
    }
  }
}
