@import '../../../../../../../styles.scss';

:host {
  display: grid;
  place-content: center;
  width: 100%;
  height: 100dvh;
  background-color: #002561;
  overflow: hidden;
  & section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    @extend %fullPadding;
    & img {
      width: 100%;
      max-width: 200px;
    }
    & h1, h2, h3 {
      text-align: center;
      @extend .on-primary-text;
    }
  }
}
